.RightPanelContent {
    width: 100%;
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
    border-radius: 15px;
    position: relative;
    padding: 10%;
    background-color: #fff;
}
.RigthPanelTitle {
    color: #fff;
    background-color: #252941;
    position: absolute;
    right: 0;
    top: 0;
    padding: 5px 5% 5px 10%;
    border-radius: 5px 0 0 5px;
}