.WeekHoursControl {
    display: flex;
    align-items: center;
    margin: 20px 0;
}
.WeekHoursControl .WeekHoursDay {
    padding: 10px 15px;
    margin-left: 20px;
}
.controlHour {
    width: 120px;
    flex-wrap: wrap;
    display: flex;
    margin-left: 5px;
}
.controlHourInput {
    width: 100%;
}
.controlHourTitle {
    font-size: .8em;
}
.controlHourInput input {
    max-width: 130px;
    padding: 5px 10px;
    border: 1px solid #eee;
    font-size: 1.2em;
    border-radius: 5px;
    text-align: center;
    box-shadow: 2px 2px 5px #eee;
}