.WeekBuilderContent {
    position: relative;
}
.WeekBuilderContent:after {
    content: '';
    border-bottom: 1px solid #eee;
    width: 100%;
    display: block;
    margin: 80px 0;
}
.stitchings {
    position: absolute;
    left: calc(50% - 21px);
    bottom: -9px;
    margin: 0 auto;
    display: inline-block;
}
.stitching {
    background-color: #eee;
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 50em;
    margin: 0 2px;
}
.WeekBuilderName {
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 40px;
}

.WeekHoursControl {
    display: flex;
    align-items: center;
    margin: 5px 0 30px;
    border-bottom: 1px solid #eee;
    padding-bottom: 15px;
    flex-wrap: wrap;
}
.WeekHoursControl .WeekHoursDay {
    padding: 10px 15px;
    margin-left: 20px;
}
.controlHourTitle {
    font-weight: bold;
    font-size: 1.2em;
    padding: 0 10px;
    text-transform: uppercase;
}
.controlHour {
    width: 200px;
    display: flex;
    margin-left: auto;
    margin-right: 10px;
}
.controlHourInput {
    width: 100%;
}
.controlHourInput input {
    max-width: 130px;
    padding: 5px 10px;
    border: 1px solid #eee;
    font-size: 1.2em;
    border-radius: 5px;
    text-align: center;
    box-shadow: 2px 2px 5px #eee;
    text-transform: uppercase;
}