.no-team-selected {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 20rem;
    margin: 5rem auto;
    transform: scale(1.2) translateY(7rem);
}
.no-team-selected .selectIcon {
    display: block;
    font-size: 4rem;
    color: #252941;
}
.no-team-selected .selectText {
    text-align: center;
    display: block;
    color: #777;
    margin-bottom: 15px;
    margin-top: .8rem;
}
