.WeekControls {
    display: flex;
    align-items: center;
    margin-bottom: 35px;
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
}

.WeekControlsTitle {
    margin-right: 10px;
}

.WeekControlsList > li {
    cursor: pointer;
    font-weight: bold;
    padding: 5px 10px;
    border: 1px solid #eee;
    border-radius: 5px;
    margin: 0 5px;
    min-width: 40px;
    text-align: center;
    display: inline-block;
    transition: all .5s ease-in-out;
}

.WeekControlsList > li.done {
    color: #1a9a72;
    background-color: rgba(59, 217, 216, 0.2);
    border: 1px solid #1a9a72; 
}

.WeekControlsList > li.active,
.WeekControlsList > li:hover {
    color: #fff;
    background-color: #8547C5;
    border: 1px solid #8547C5; 
}

.WeekControlsAdd {
    margin-left: auto;
    text-transform: uppercase;
}