.Button {
    cursor: pointer;
    border: none;
    border-radius: 3px;
    padding: 5px 20px;
    font-weight: bold;
    background-color: transparent;
    color: #222;
    background-color: rgba(241, 241, 241, 0.8);
}
.Button.approved {
    color: #1a9a72;
    background-color: rgba(59, 217, 216, 0.2);
}
.Button.in-progress {
    color: #4B8FDE;
    background-color: rgba(75, 143, 222, 0.2);
}
.Button.waiting-info {
    color: #999;
    background-color: rgba(241, 241, 241, 0.8);
}
.Button.primary {
    color: #fff;
    padding: 10px;
    background-color: #8547C4;
    box-shadow: 2px 2px 8px #8547C4;
}
.ButtonIcon {
    font-size: .9em;
    display: inline-block;
}
.Button:disabled {
    color: #ccc;
    background-color: #eee;
    box-shadow: none;
    cursor: not-allowed;
}